:root {
  --primary-color: #154360;
  --secondary-color: #71c8f393;
  --third-color: #18608c;
  --button-color: #ffffff;
  --hover-btn-color: #0ceaee;
  --hover-btn-text-color: #000000;
  --text-background: #c5e5f8;
}
